#Ignore everything
*


###############################
# Un-ignore the affected subdirectory
!/.config/
# Un-ignore the affected subdirectory and all its subdirectories
!/.config/**/*

# Ignore subdirectory and all including directories and files to match pattern as valid for the next pattern
/.config/systemd/
/.config/nvim/lazy-lock.json
/.config/pulse/
/.config/dconf/
/.config/BraveSoftware/

# Ignore all but brave preferences
# !/.config/BraveSoftware/
# /.config/BraveSoftware/**
# !/.config/BraveSoftware/Brave-Browser/
# /.config/BraveSoftware/Brave-Browser/**
# !/.config/BraveSoftware/Brave-Browser/Default/
# /.config/BraveSoftware/Brave-Browser/Default/**
# !/.config/BraveSoftware/Brave-Browser/Default/Preferences


!/.gitignore
!/.Xresources
!/.bash_profile
!/.bashrc
!/.xinitrc
!/pkg/
