#Ignore everything
/**


###############################
# Un-ignore the affected subdirectory
!/.config/
# Ignore subdirectory and all including directories and files to match pattern as valid for the next pattern
/.config/systemd/
/.config/nvim/lazy-lock.json

!/.gitignore
!/.Xresources
!/.bash_profile
!/.bashrc
!/.xinitrc
!/pkg/
